
    h1{ 
        margin:5% 10%;
        color: #333;
        font-size: 40px;
        text-shadow: 1px 1px 0 rgb(107, 107, 107,0.5);
        margin-bottom: 30px;
    }
    input{
        margin-left: 10%;
        height: 30px;
        border-radius: 20px;
        width: 300px;
        padding-left: 10px;
        font-size:17px;
    }
    input::placeholder{
        color: rgb(107, 107, 107,0.5);
    }
    p{ 
        text-align: center;
        color: rgb(107, 107, 107);
        margin-top: 40px;
    }
    #buttonDiv{
        text-align: center;
        margin-bottom: 35px;
    }
    button{
        color: #333;
        padding: 15px 20px;
        font-size: 17px;
        background: #ACD260;
        cursor: pointer;
        border: solid 1px transparent;
        border-radius: 20px;
    }
    #Results {
        margin:4%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
      }
      .noResult {
        color: rgb(107, 107, 107);
      }
      .searchContainer {
        background: #CCC;
        border-radius: 5px;
        box-shadow: 0 5px 5px #333;
        width: 220px;
        height: 400px;
        margin-right: 10px;
        margin-bottom: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding-bottom: 15px;
      }
      .searchContainer h2{
          font-weight: 700;
          color: #333;
          text-align: center;
          font-size:17px;
          height: 15%; 
      }
        .infos {
          height: 15%;
          color:rgb(107, 107, 107);
          font-weight: 400;
          font-size:16px;
        }
    
        img {
          width: 90%;
          height: 60%;
          max-width: 250px;
          border-radius: 30px;
          box-shadow: 0 4px 4px #222;
        }
        #details{
            border: none;
            height:10% ;
            background: transparent;
            text-decoration: underline;
            cursor: pointer;
        }
        .randomContainer {
            margin: 10px 40px;
            background: #f6f6f6;
            text-align: center;
            height: fit-content;
            border-radius: 5px;
            padding: 20px;
        }
        .randomContainer h2{
            font-weight: 700;
            color:#ACD260;
            text-align: center;
        }
        .randomContainer img{
            margin:10px 0px;
        }
        .randomContainer p{
            color: rgb(107, 107, 107);
            margin:8px;
            text-align: center;
            font-weight: 300;
            font-size: 18px;
        }
        #newDiv{
            background-color: rgba(0, 0, 0, 0.7);
            position: fixed;
            width:100%;
            height: 100%;
            z-index: 1000;
            top:0;
            left: -2px;
        }
        #para{
            color: rgb(107, 107, 107);
            margin:8px;
            text-align: center;
            font-weight: 100;
            font-size: 15px;
            position: fixed;
            background-color:#f6f6f6;
            top:50%;
            left:50%;
            width: 50%;
            height: 50%;
            overflow: scroll;
            transform: translate(-50%,-50%);
            z-index: 1001;
            border: 1px solid #CCC;
            padding: 20px;
        }
        ::-webkit-scrollbar {
            width: 6px;
            height: 2px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        ::-webkit-scrollbar-thumb {
            background: #888; 
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        .close{
            background-color:#ACD260;
            text-align: center;
            font-size: 18px;
            color: #333;
            cursor: pointer;
            border-radius: 50%;
            z-index: 1002;
            position: fixed;
            top: 175px;
            left: 23%;
            width: 30px;
            height: 30px;
            padding-top: 6px;
        }

    
      